.page{
    padding-left: 1rem;

    section{
        margin-top: 2rem;
        // .v-select {
        //     background-color: #fff;
        //     color: #000;
        // }
        
    }
    
}
.var-select__scroller{
    padding: 0px !important;
}
.var-option--selected-background{
    background-color: transparent;
}
.var-option--selected-color {
    color: #fff;
}
.var-radio-group{
    display: block !important;
}